<div class="add-todo-wrapper container has-blurred-white-bg">
    
    <h2 class="is-bold small">Add Todo</h2>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        
        <div class="form-field">
            <input class="textbox" ngModel #textField="ngModel"
            name="text" type="text" placeholder="Enter todo text..."
            required minlength="3">
            
            <ng-container *ngIf="showValidationErrors && textField.invalid">
                <p *ngIf="textField.errors?.['required']">Please enter the text!</p>
                <p *ngIf="textField.errors?.['minlength']">Minimal length is 3 characters!</p>
            </ng-container>
        </div>
        
        <div class="btns-container no-marg">
             
            <a routerLink="../" class="btn btn-small">Cancel</a>
            <button type="submit" class="btn align-end btn-small">Create todo!</button>
        
        </div>
    
    </form>
    
</div>