.bookmark-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;

    gap: 8px;

    background-color: rgba(black, 0.55);

    border-radius: 5px;

    width: 90px;
    height: 85px;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
        background: rgba(black, 0.68);
        backdrop-filter: blur(2px);
    }

    &:active {
        background: rgba(black, 0.75);
        transform: translateY(2px);
        transition-duration: 0s;
    }
}

.bookmark-tile img {
    max-width: 28px;
}

.tile-text {
    font-size: 13px;
    color: rgba(white, 0.85);

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tile-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 32px;
}

.tile-icon.error-icon {
    background: rgba(white, 0.90);
    color: rgba(black, 0.80);
    border-radius: 3px;

    font-size: 20px;
    font-weight: 600;
}